# Maven build output
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log
logs/

# IDE files
.idea/
*.iws
*.iml
*.ipr

.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.vscode/

# OS files
.DS_Store
Thumbs.db

# Optional local env file
.env

# Spring Initializr helper doc
HELP.md